.daowei {
  width: 100%;
  height: 100%;
}
.daowei .header {
  width: 100%;
  background: #fff;
  border-bottom: 1px solid #e5e5e5;
}
.daowei .header .header_wrapper {
  width: 90%;
  height: 70px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
}
.daowei .header .header_wrapper .city > a {
  color: #000;
  font-size: 16px;
  font-weight: bold;
}
.daowei .header .header_wrapper .city > a.iconfont {
  font-size: 22px;
  color: #FF0000;
  margin-right: -5px;
}
.daowei .header .header_wrapper .nav_list > a {
  color: #000;
  font-size: 16px;
  font-weight: bold;
  margin: 0 10px;
}
.daowei .header .header_wrapper .nav_list > a.on {
  color: #FF0000;
}
.daowei .header .header_wrapper .nav_list > a.shop_login {
  color: #ffffff;
  background: red;
  border-radius: 5px;
  padding: 5px 5px;
}
.daowei .banner_wrapper {
  width: 100%;
  position: relative;
}
.daowei .banner_wrapper .swiper-container {
  width: 100%;
  height: 420px;
}
.daowei .banner_wrapper .swiper-container .swiper-wrapper {
  width: 100%;
  height: 100%;
}
.daowei .banner_wrapper .swiper-container .swiper-wrapper .swiper-slide {
  width: 100%;
  height: 100%;
}
.daowei .banner_wrapper .swiper-container .swiper-wrapper .swiper-slide .banner_bd {
  width: 100%;
  height: 100%;
}
.daowei .banner_wrapper .swiper-container .swiper-wrapper .swiper-slide .banner_bd.bd1 {
  background: url('../images_msite/banner1.jpg') center center no-repeat;
}
.daowei .banner_wrapper .swiper-container .swiper-wrapper .swiper-slide .banner_bd.bd2 {
  background: url('../images_msite/banner2.jpg') center center no-repeat;
}
.daowei .banner_wrapper .swiper-container .swiper-wrapper .swiper-slide .banner_bd.bd3 {
  background: url('../images_msite/banner3.jpg') center center no-repeat;
}
.daowei .banner_wrapper .swiper-container .swiper-pagination > span.swiper-pagination-bullet-active {
  background: #02a774;
}
.daowei .banner_wrapper .banner_nav {
  height: 100%;
  width: 180px;
  background: #757881;
  position: absolute;
  top: 0;
  left: 7%;
  z-index: 100;
}
.daowei .banner_wrapper .banner_nav .nav_wrap {
  height: 100%;
  width: 100%;
}
.daowei .banner_wrapper .banner_nav .nav_wrap .nav_list {
  width: 100%;
  height: 42px;
  line-height: 42px;
  color: #fff;
  text-align: center;
}
.daowei .banner_wrapper .banner_nav .nav_wrap .nav_list > a {
  display: block;
  width: 100%;
  height: 100%;
}
.daowei .banner_wrapper .banner_nav .nav_wrap .nav_list > a > span {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  margin: 0 10px;
}
.daowei .banner_wrapper .banner_nav .nav_wrap .nav_list > a > span.iconfont {
  font-size: 18px;
}
.daowei .banner_wrapper .banner_nav .nav_wrap .nav_list .nav_content {
  width: 95%;
  height: 420px;
  position: absolute;
  background: rgba(255, 255, 255, 0.8);
  top: 0;
  left: 180px;
  z-index: 100;
  color: #000;
}
.daowei .banner_wrapper .banner_nav .nav_wrap .nav_list .nav_content .nav_item {
  width: 100%;
  height: 42px;
  line-height: 42px;
  font-size: 16px;
  font-weight: bold;
}
.daowei .box1 {
  width: 100%;
  padding-bottom: 20px;
  background: #fff;
}
.daowei .box1 .family_container {
  width: 90%;
  margin: 0 auto;
  padding-top: 50px;
}
.daowei .box1 .family_container .navigation {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.daowei .box1 .family_container .navigation .service_title {
  width: 100%;
  text-align: center;
  color: #3d3838;
  font-weight: 800;
  font-size: 28px;
}
.daowei .box1 .family_container .navigation .service_content {
  width: 100%;
  font-size: 22px;
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  white-space: nowrap;
}
.daowei .box1 .family_container .navigation .service_content .service_list {
  width: 100%;
  display: flex;
  justify-content: center;
}
.daowei .box1 .family_container .navigation .service_content .service_list > a {
  margin: 0 5px;
  color: #3d3838;
}
.daowei .box1 .family_container .service_type {
  width: 100%;
  margin-top: 25px;
  display: flex;
}
.daowei .box1 .family_container .service_type .server_item {
  width: 20%;
}
.daowei .box1 .family_container .service_type .server_item > a .item_container {
  box-sizing: border-box;
  padding: 10px;
  border: 1px solid #eaeaea;
  margin: 0 5px;
  background: #fff;
  cursor: pointer;
}
.daowei .box1 .family_container .service_type .server_item > a .item_container > img {
  width: 210px;
  height: 210px;
}
.daowei .box1 .family_container .service_type .server_item > a .item_container .server_name {
  width: 100%;
  font-size: 14px;
  padding: 5px 0;
  font-weight: 800;
  color: #000;
}
.daowei .box1 .family_container .service_type .server_item > a .item_container .description {
  color: #929292;
  padding: 5px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  font-size: 13px;
  line-height: 18px;
}
.daowei .box1 .family_container .service_type .server_item > a .item_container .price {
  height: 20px;
  font-size: 14px;
  padding: 10px 5px;
  font-weight: 600;
  line-height: 20px;
  color: #fb474f;
}
.daowei .box1 .family_container .service_type .server_item > a .item_container .price :nth-child(1) {
  font-size: 20px;
  font-weight: 600;
}
.daowei .box1 .family_container .service_type .server_item > a .item_container .btn {
  float: right;
  width: 76px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  background: #fb474f;
  border-radius: 5px;
  color: #fff;
  font-size: 14px;
}
.daowei .server_spa {
  background: #FBF8F8;
}
.daowei .appliance_clear {
  background: #FBF8F8;
}
.daowei .move_family {
  background: #FBF8F8;
}
.daowei .up_medical {
  background: #FBF8F8;
}
.daowei .clear_cart {
  background: #FBF8F8;
}
.daowei .dapwei_footer {
  width: 100%;
  background: #fff;
}
.daowei .dapwei_footer .baozhang {
  width: 100%;
  text-align: center;
  padding-top: 60px;
}
.daowei .dapwei_footer .baozhang > h2 {
  font-size: 30px;
  font-weight: 800;
  margin: 20px 0 10px 0 ;
}
.daowei .dapwei_footer .baozhang > h2 > span {
  color: #fb474f;
  font-weight: 900;
}
.daowei .dapwei_footer .baozhang > p {
  margin-top: 15px;
  font-size: 22px;
}
.daowei .dapwei_footer .pass_server {
  width: 100%;
  text-align: center;
  margin-top: 20px;
}
.daowei .dapwei_footer .pass_server > ul {
  width: 100%;
  display: flex;
  justify-content: center;
  white-space: nowrap;
}
.daowei .dapwei_footer .pass_server > ul > li {
  font-size: 18px;
  color: #1d1515;
  margin: 0 15px;
}
.daowei .dapwei_footer .pass_server > ul > li .iconfont {
  font-size: 22px;
  color: #008000;
  font-weight: bold;
}
.daowei .dapwei_footer .remen_city {
  width: 100%;
  padding: 50px 0 20px 0;
}
.daowei .dapwei_footer .remen_city > ul {
  margin: 0 auto;
  width: 90%;
  display: flex;
  justify-content: space-between;
}
.daowei .dapwei_footer .remen_city > ul .title {
  width: 10%;
  text-align: left;
  font-size: 18px;
  font-weight: 700;
}
.daowei .dapwei_footer .remen_city > ul .city_name {
  text-align: right;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.daowei .dapwei_footer .remen_city > ul .city_name a {
  width: 8%;
  margin: 0 5px 15px 5px;
  font-size: 16px;
  color: #898989;
  display: block;
  font-weight: 200;
  text-align: center;
}
.daowei .dapwei_footer .partner {
  width: 100%;
  background: #FBF8F8;
  padding-top: 30px;
}
.daowei .dapwei_footer .partner .partner_title {
  margin: 0 auto;
  width: 90%;
  text-align: left;
  font-size: 18px;
  font-weight: 700;
}
.daowei .dapwei_footer .partner .shops {
  margin: 20px auto;
  width: 90%;
  display: flex;
  justify-content: space-between;
}
.daowei .dapwei_footer .partner .shops .shop_name {
  width: 10%;
  margin-right: 10px;
  background: #fff;
  box-sizing: border-box;
  padding: 5px 5px;
}
.daowei .dapwei_footer .partner .shops .shop_name a {
  display: block;
  width: 100%;
}
.daowei .dapwei_footer .partner .shops .shop_name a > img {
  width: 100%;
  display: block;
}
.daowei .dapwei_footer .partner .copy {
  margin: 0 auto;
  width: 90%;
  color: #898989;
  font-size: 16px;
}
